{% extends "@MyShopDefault/Default/layout.html.twig" %}

{% block body %}

    <div class="content_top">
            <div class="heading">
            <h3>Список Категорий</h3>
            </div>
            <div class="see">
                <p><a href="#">Выбрать категорию</a></p>
            </div>
            <div class="clear"></div>
        </div>
        
          <div class="section group">
           {% for cat in categoryList %}
                {% if cat.iconFileName is empty %}
            
                <div class="grid_1_of_4 images_1_of_4">
                    
                     <a href="{{ url("my_shop.product_list_by_category", {id_category:cat.id}) }}"><img src="/images/no-picture.png" class="img-responsive " alt=""></a>
                     <a href="{{ url("my_shop.product_list_by_category", {id_category:cat.id}) }}"><h2>{{ cat.name }}</h2></a>
                    <div class="price-details">
                       <div class="price-number">
                            <p><span class="rupees">Количество товаров:</span></p>
                        </div>
                             <div class="clear"></div>
                    </div>
                </div>

                {% else %}
                    <div class="grid_1_of_4 images_1_of_4">
                    
                     <a href="{{ url("my_shop.product_list_by_category", {id_category:cat.id}) }}"><img src="/photos/{{ cat.getIconFileName() }}" class="img-responsive " alt=""></a>
                     <a href="{{ url("my_shop.product_list_by_category", {id_category:cat.id}) }}"><h2>{{ cat.name }}</h2></a>
                    <div class="price-details">
                       <div class="price-number">
                            <p><span class="rupees">Количество товаров:</span></p>
                        </div>
                             <div class="clear"></div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
               
            </div>
    

{% endblock %}



{#<h2>Список Категорий</h2>
    <ul>
    {% for product in productList %}
        <li>
            <b>Категория:</b>{{product.getCategory().getName()}}
            <br />
            <b>Товар:</b>{{product.getModel()}}        
            <br />
        </li>
        <br />
    {% else %}
         Категорий нет!
    {% endfor %}
    </ul> 

    {% for product in productList %}
                <div class="grid_1_of_4 images_1_of_4">

                     <a href="#"><img src="/images/feature-pic1.jpg" alt="" /></a>
                     <a href="#"><h2>{{product.getCategory().getName()}}</h2></a>
                    <div class="price-details">
                       <div class="price-number">
                            <p><span class="rupees">Количество товаров:</span></p>
                        </div>
                             <div class="clear"></div>
                    </div>
                     
                </div>
                {% endfor %}




    #}