{% extends "@MyShopDefault/layout.html.twig" %}

{% block body %}
    <div>
        <b>Корзина товаров</b><br />
        <ul>
            {% for product in order.products %}
        <form method="post" action="{{ path('myshop.basket_recalculation') }}">
                <li> <a href="{{ path('myshop.remove_product_from_basket', {id:product.id}) }}">[X]</a> {{ product.model }} - {{ product.price }} x <input name="prod_{{ product.id }}" style="width: 20px" type="text" value="{{ product.count }}" /> = {{ product.sum }}</li>
                {% endfor %}
        </ul>
        <input type="submit" value="Пересчитать" />
        </form>

        <form method="POST" action="{{ path('myshop.order_confirm') }}">
            {{ form_widget(form) }}
            <input type="submit" value="Оформить заказ" />
        </form>
    </div>
{% endblock %}