<!DOCTYPE HTML>
<html>
<head>
<title>Admin Panel Main</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Gretong Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- Bootstrap Core CSS -->
<link rel="stylesheet" href="{{ asset("bundles/myshopdefault/css/bootstrap.min.css") }}" />
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ asset("bundles/myshopdefault/css/style.css") }}" />
<!-- jQuery -->
<link rel="stylesheet" href="{{ asset("bundles/myshopdefault/css/font-awesome.css") }}" />
<!-- lined-icons -->
<link rel="stylesheet" href="{{ asset("bundles/myshopdefault/css/icon-font.min.css") }}" />
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
</head>

   <div class="page-container">
   <!--/content-inner-->
    <div class="left-content">
       <div class="inner-content">
        <!-- header-starts -->
            <div class="header-section">
            <!-- top_bg -->
                        <div class="top_bg">
                            
                                <div class="header_top">
                                    <div class="top_right">
                                        <ul>
                                            <li><a href="{{ path("my_shop_admin.load_some_users") }}">Демо-админ</a></li>|
                                            <li><a href="{{ path("my_shop_admin.load_some_product") }}">Демо-товар</a></li>|
                                            {#    {{ path("my_shop_admin.load_some_product") }}    #}
                                            <li><a href="{{ path("my_shop_admin.load_some_category") }}">Демо-категория</a></li>|
                                            <li><a href="{{ path("my_shop_admin.user_add") }}">Добавить Администратора</a></li>|
                                            <li><a href="{{ path("myshop.admin_order_list") }}">Cписок заказов</a></li>
                                        </ul>
                                    </div>
                                    <div class="top_left">
                                        
                                        <h2><span></span> Call me : +380932649872</h2>
                                    </div>
                                        <div class="clearfix"> </div>
                                </div>
                            
                        </div>
                    <div class="clearfix"></div>
                <!-- /top_bg -->
                </div>
                <div class="header_bg">
                        
                            <div class="header">
                                <div class="head-t">
                                    <div class="logo">
                                        <a href="https://itschool-hillel.org/"><img src="/images/mainlogo.jpg" class="img-responsive" alt=""> </a>
                                        
                                         
                                    </div>
                                        <!-- start header_right -->
                                    <div class="header_right">
                                        <div class="rgt-bottom">
                                            <div class="log">
                                                <div class="login">
                                                    <div id="loginContainer"><a href="{{ path("logout") }}" id="loginButton" class=""><span>Logout</span></a>
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                    <div class="search">
                                        <form>
                                            <input type="text" value="" placeholder="search...">
                                            <input type="submit" value="">
                                        </form>
                                    </div>
                                    <div class="clearfix"> </div>
                                </div>
                                <div class="clearfix"> </div>
             
                <!--content-->
            <div class="content">
                
            {% block body %}
            {% endblock %}
            </div>
                <!--//content-inner-->
            <!--/sidebar-menu-->
                 <div class="sidebar-menu">
                    <header class="logo1">
                        <h2 style = "margin-top: -2px;
                            border: 1px solid #252525;
                            text-align: right;
                            line-height: 1;
                            font-size: 19px;
                            padding: 8px 10px;
                            border-radius: 0px;
                            color: #fff;
                            float: left;">
                            as {{ app.user }}</h2>
                        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> 
                    </header>
                        <div style="border-top:1px ridge rgba(255, 255, 255, 0.15)"></div>
                           <div class="menu">
                                    <ul id="menu" >
                                        <li><a href="{{ path("my_shop_admin.index") }}"><i class="fa fa-tachometer"></i> <span>Главная</span></a></li>
                                         <li id="menu-academico" ><a href="{{ path("my_shop_admin.category_list") }}"><i class="fa fa-table"></i> <span> Категории</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                           <ul id="menu-academico-sub" >
                                            
                                           <li id="menu-academico-avaliacoes" ><a href="{{ path("my_shop_admin.product_list_by_category", {id_category:4}) }}">Автомобили</a></li>
                                            <li id="menu-academico-avaliacoes" ><a href="{{ path("my_shop_admin.product_list_by_category", {id_category:1}) }}">Смартфоны</a></li>
                                            <li id="menu-academico-boletim" ><a href="{{ path("my_shop_admin.product_list_by_category", {id_category:2}) }}">Ноутбуки</a></li>
                                           </ul>
                                        </li>
                                        
                                         <li id="menu-academico" ><a href="{{ path("my_shop_admin.product_list") }}"><i class="fa fa-file-text-o"></i> <span>Все Товары</span></a>
                                         </li>

                                         <li id="menu-academico" ><a href="{{ path("my_shop_admin.page_list") }}"><i class="lnr lnr-book"></i> <span>Список страниц</span></a>
                                         </li>
                                    </ul>
                                  </ul>
                                </div>
                              </div>
                              <div class="clearfix"></div>      
                            </div>
                                <div class="foot-top">
    
        <div class="col-md-6 s-c">
            <div style = "margin: 0 auto; text-align: center;" >{% block footer %}{% endblock %}</div>
                <div class="clearfix"> </div>
        </div>
        <div class="col-md-6 s-c">
            <div class="stay">
                        <div class="stay-left">

                        </div>
                        
                        <div class="clearfix"> </div>
            </div>
        </div>
            <div class="clearfix"> </div>
    
</div>
</body>
</html>