{% extends "@MyShopAdmin/layout.html.twig" %}

{% block body %}
<div class="w_content">
<div class="women_main">
    <!-- start content -->
   <div class="w_content">
        <div class="women">

                    <script type="application/javascript" src="{{ asset('bundles/myshopadmin/jquery-3.2.0.min.js') }}"></script>
                    <script type="application/javascript">
                        function del(id)
                        {
                        var url = Routing.generate('my_shop.admin.product_delete_ajax', {"id":id});
                        $.get(url, function(data) {
                        alert("Товар удалён!");
                            });
                        }
                    </script>

            <a href="{{ path("my_shop_admin.product_add")}}"><h4>Добавить товар &nbsp; &nbsp;  </h4></a> 
            <a href="{{ path("my_shop_admin.products_export_csv")}}"><h4>Скачать .csw &nbsp; &nbsp;</h4></a>
            <a href="{{ path("my_shop_admin.products_import_csv")}}"><h4>Загрузить .csw</h4></a>
            <ul class="w_nav">
                        <li><a href="#"><h4>Количество товаров - <span>{{ count }}</span> </h4></a></li>
                        <div class="clear"></div>   
             </ul>
             <div class="clearfix"></div>   
        </div>
        <!-- grids_of_4 -->
        {% for product in productList %}

        <div class="grids_of_4">
          <div class="grid1_of_4">
                <div class="content_box"><a href="#">
      
                    {% for photo in product.getPhotos() %}

                    <a href="{{ path("my_shop_admin.product_photo_list", {idProduct:product.getId()}) }}">
                     <img src="/photos/{{ photo.getSmallFileName() }}" class="img-responsive " alt="">
                     </a>

                    {% else %}

                    <a href="{{ path("my_shop_admin.product_photo_list", {idProduct:product.getId()}) }}">
                         <img src="/images/no-picture.png" class="img-responsive" alt="">
                          </a>
                      

                    {% endfor %}

                    <h4><a href="{{ path("my_shop_admin.product_edit", {id:product.id}) }}"> {{ product.getModel() }}</a></h4>
                     <p>{{ product.getCategory().getName() }}</p>
                    <h4><a href="{{ path("my_shop_admin.product_photo_list", {idProduct:product.getId()}) }}">Картинки</a></h4>
                    <h4><a href="#" onclick="del({{ product.id }})" >Удалить Ajax</a></h4>
                    
                     <div class="item_add"><span class="item_price"><h6> ${{ product.getPrice() }}</h6></span></div>
                     
                     <div class="item_add">
                        <span class="item_price"><a href="{{ path("my_shop.admin.product_delete", {id:product.id}) }}">Удалить</a><br/></span>
                    </div>
                  </div>
                </div>
            </div>
            {% endfor %}


{% endblock %}

{% block footer %}
{{ knp_pagination_render(productList) }}
{% endblock %}

{#
<a href="{{ path("my_shop_admin.product_photo_list", {idProduct:product.getId()}) }}">
                  <img src="/photos/{{ product.getIconFileName() }}" />

          #}        


